@font-face {
   font-family: 'Roboto Mono';
   font-style: normal;
   font-weight: 100;
   src: url('file:///E:/ROB/Websites/Miriadesolutionsinc//fonts/Roboto Mono/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Mono';
   font-style: normal;
   font-weight: 300;
   src: url('file:///E:/ROB/Websites/Miriadesolutionsinc//fonts/Roboto Mono/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Mono';
   font-style: normal;
   font-weight: 500;
   src: url('file:///E:/ROB/Websites/Miriadesolutionsinc//fonts/Roboto Mono/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Mono';
   font-style: normal;
   font-weight: 700;
   src: url('file:///E:/ROB/Websites/Miriadesolutionsinc//fonts/Roboto Mono/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Mono';
   font-style: italic;
   font-weight: 100;
   src: url('file:///E:/ROB/Websites/Miriadesolutionsinc//fonts/Roboto Mono/100italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Mono';
   font-style: italic;
   font-weight: 300;
   src: url('file:///E:/ROB/Websites/Miriadesolutionsinc//fonts/Roboto Mono/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Mono';
   font-style: regular;
   font-weight: 400;
   src: url('file:///E:/ROB/Websites/Miriadesolutionsinc//fonts/Roboto Mono/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Mono';
   font-style: italic;
   font-weight: 400;
   src: url('file:///E:/ROB/Websites/Miriadesolutionsinc//fonts/Roboto Mono/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Mono';
   font-style: italic;
   font-weight: 500;
   src: url('file:///E:/ROB/Websites/Miriadesolutionsinc//fonts/Roboto Mono/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Mono';
   font-style: italic;
   font-weight: 700;
   src: url('file:///E:/ROB/Websites/Miriadesolutionsinc//fonts/Roboto Mono/700italic.ttf') format('truetype');
}
