@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);


















body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #0850A1;
  border-color: #0850A1;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #2061aa;
  border-color: #2061aa;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-0 .link {
  font-size: 0.75rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .btn {
  font-family: 'Oxygen', sans-serif;
}
#header1-1 H1 {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}
#header1-1 P {
  font-family: 'Ubuntu', sans-serif;
}
#header1-1 .mbr-section-lead {
  text-align: center;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}
#header1-1 .mbr-section-lead SPAN {
  font-size: 22px;
}
#header1-1 .mbr-section-lead B {
  font-family: 'Roboto', sans-serif;
}
#features1-4 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-4 H4 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#features1-4 P {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#features1-4 .btn {
  font-family: 'Open Sans', sans-serif;
}
#features1-4 H5 {
  font-family: 'Roboto', sans-serif;
}
#features1-4 .mbr-cards-col:nth-child(odd) .card-title {
  font-size: 22px;
}
#features1-4 .mbr-cards-col:nth-child(even) .card-title {
  font-size: 22px;
}
#social-buttons4-8 .mbr-section-title,
#social-buttons4-8 .btn-social {
  color: #fff;
}
#contacts3-5 H4 {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-5 STRONG {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-5 .btn {
  font-family: 'Open Sans', sans-serif;
}
#footer1-2 P {
  font-family: 'Titillium Web', sans-serif;
}










#header3-39 .mbr-section-title,
#header3-39 .mbr-section-subtitle {
  text-align: center;
}
#header3-39 H3 {
  color: #ffffff;
}
#header3-j .mbr-section-title,
#header3-j .mbr-section-subtitle {
  text-align: center;
}
#features1-38 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-38 H4 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#features1-38 P {
  color: #ffffff;
}
#features1-38 H5 {
  color: #979797;
}
#features1-0 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-0 H4 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#features1-0 P {
  color: #ffffff;
}
#features1-0 H5 {
  color: #979797;
}
#features1-k .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-k H4 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#features1-k P {
  color: #ffffff;
}
#features1-k H5 {
  color: #979797;
}
#menu-9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-9 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu-9 .navbar-toggler {
  color: #ffffff;
}
#menu-9 .link,
#menu-9 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-9 .link {
  font-size: 0.75rem;
}
#menu-9 .dropdown-item,
#menu-9 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-9 .link:hover,
#menu-9 .dropdown-item:hover,
#menu-9 .link:focus,
#menu-9 .dropdown-item:focus {
  color: #c0a375;
}
#menu-9 .link[aria-expanded="true"],
#menu-9 .dropdown-menu {
  background: #0e0e0e;
}
#menu-9 .nav-dropdown-sm .link:focus,
#menu-9 .nav-dropdown-sm .link:hover,
#menu-9 .nav-dropdown-sm .dropdown-item:focus,
#menu-9 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-9 .navbar,
#menu-9 .nav-dropdown-sm,
#menu-9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-9 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-9 .bg-color.transparent.opened .link:hover,
#menu-9 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-9 .link[aria-expanded="true"],
#menu-9 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-9 .close-icon::before,
#menu-9 .close-icon::after {
  background-color: #ffffff;
}
#menu-9 .btn {
  font-family: 'Oxygen', sans-serif;
}
#header3-i .mbr-section-title,
#header3-i .mbr-section-subtitle {
  text-align: center;
}
#contacts3-10 H4 {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-10 STRONG {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-10 .btn {
  font-family: 'Open Sans', sans-serif;
}
#footer1-11 P {
  font-family: 'Titillium Web', sans-serif;
}



















#msg-box4-44 H3 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-44 P {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
}
#msg-box4-44 .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
#msg-box4-43 H3 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  text-align: left;
}
#msg-box4-43 P {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-align: left;
}
#msg-box4-43 .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
#msg-box4-j H3 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  text-align: left;
}
#msg-box4-j P {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-align: left;
}
#msg-box4-j .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
#menu-12 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-12 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu-12 .navbar-toggler {
  color: #ffffff;
}
#menu-12 .link,
#menu-12 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-12 .link {
  font-size: 0.75rem;
}
#menu-12 .dropdown-item,
#menu-12 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-12 .link:hover,
#menu-12 .dropdown-item:hover,
#menu-12 .link:focus,
#menu-12 .dropdown-item:focus {
  color: #c0a375;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-menu {
  background: #0e0e0e;
}
#menu-12 .nav-dropdown-sm .link:focus,
#menu-12 .nav-dropdown-sm .link:hover,
#menu-12 .nav-dropdown-sm .dropdown-item:focus,
#menu-12 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-12 .navbar,
#menu-12 .nav-dropdown-sm,
#menu-12 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-12 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-12 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-12 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-12 .bg-color.transparent.opened .link:hover,
#menu-12 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-12 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-12 .close-icon::before,
#menu-12 .close-icon::after {
  background-color: #ffffff;
}
#menu-12 .btn {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-47 .mbr-section-title,
#msg-box3-47 p {
  color: #000;
}
#msg-box3-47 .mbr-section-title {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box3-47 .lead P {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
}
#msg-box3-47 .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
#contacts3-13 H4 {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-13 STRONG {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-13 .btn {
  font-family: 'Open Sans', sans-serif;
}
#footer1-14 P {
  font-family: 'Titillium Web', sans-serif;
}












#header2-48 P {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
#header2-48 .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
#header2-48 H3 {
  font-family: 'Open Sans', sans-serif;
}
#features1-49 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-49 H4 {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
#features1-49 P {
  color: #ffffff;
}
#msg-box2-50 .mbr-section-title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box2-50 .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box2-50 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-50 .mbr-article {
  color: #252525;
}
#menu-15 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-15 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu-15 .navbar-toggler {
  color: #ffffff;
}
#menu-15 .link,
#menu-15 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-15 .link {
  font-size: 0.75rem;
}
#menu-15 .dropdown-item,
#menu-15 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-15 .link:hover,
#menu-15 .dropdown-item:hover,
#menu-15 .link:focus,
#menu-15 .dropdown-item:focus {
  color: #c0a375;
}
#menu-15 .link[aria-expanded="true"],
#menu-15 .dropdown-menu {
  background: #0e0e0e;
}
#menu-15 .nav-dropdown-sm .link:focus,
#menu-15 .nav-dropdown-sm .link:hover,
#menu-15 .nav-dropdown-sm .dropdown-item:focus,
#menu-15 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-15 .navbar,
#menu-15 .nav-dropdown-sm,
#menu-15 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-15 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-15 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-15 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-15 .bg-color.transparent.opened .link:hover,
#menu-15 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-15 .link[aria-expanded="true"],
#menu-15 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-15.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-15 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-15 .close-icon::before,
#menu-15 .close-icon::after {
  background-color: #ffffff;
}
#menu-15 .btn {
  font-family: 'Oxygen', sans-serif;
}
#contacts3-16 H4 {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-16 STRONG {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-16 .btn {
  font-family: 'Open Sans', sans-serif;
}
#footer1-17 P {
  font-family: 'Titillium Web', sans-serif;
}


















#menu-18 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-18 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu-18 .navbar-toggler {
  color: #ffffff;
}
#menu-18 .link,
#menu-18 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-18 .link {
  font-size: 0.75rem;
}
#menu-18 .dropdown-item,
#menu-18 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-18 .link:hover,
#menu-18 .dropdown-item:hover,
#menu-18 .link:focus,
#menu-18 .dropdown-item:focus {
  color: #c0a375;
}
#menu-18 .link[aria-expanded="true"],
#menu-18 .dropdown-menu {
  background: #0e0e0e;
}
#menu-18 .nav-dropdown-sm .link:focus,
#menu-18 .nav-dropdown-sm .link:hover,
#menu-18 .nav-dropdown-sm .dropdown-item:focus,
#menu-18 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-18 .navbar,
#menu-18 .nav-dropdown-sm,
#menu-18 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-18 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-18 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-18 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-18 .bg-color.transparent.opened .link:hover,
#menu-18 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-18 .link[aria-expanded="true"],
#menu-18 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-18 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-18 .close-icon::before,
#menu-18 .close-icon::after {
  background-color: #ffffff;
}
#menu-18 .btn {
  font-family: 'Oxygen', sans-serif;
}
#msg-box7-52 .mbr-section-title,
#msg-box7-52 .lead p {
  color: #fff;
}
#msg-box7-52 H3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
}
#msg-box7-52 P {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
#msg-box7-52 .btn {
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-53 H3 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
#msg-box4-53 P {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
#msg-box4-53 .btn {
  font-family: 'Open Sans', sans-serif;
}
#features3-54 P {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#features3-54 H4 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box2-55 .mbr-section-title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#msg-box2-55 .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box2-55 .mbr-section-title DIV {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#msg-box2-55 .btn {
  font-family: 'Open Sans', sans-serif;
}
#msg-box2-55 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-55 .mbr-article {
  color: #252525;
}
#contacts3-19 H4 {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-19 STRONG {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-19 .btn {
  font-family: 'Open Sans', sans-serif;
}
#footer1-20 P {
  font-family: 'Titillium Web', sans-serif;
}







#menu-21 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-21 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu-21 .navbar-toggler {
  color: #ffffff;
}
#menu-21 .link,
#menu-21 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-21 .link {
  font-size: 0.75rem;
}
#menu-21 .dropdown-item,
#menu-21 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-21 .link:hover,
#menu-21 .dropdown-item:hover,
#menu-21 .link:focus,
#menu-21 .dropdown-item:focus {
  color: #c0a375;
}
#menu-21 .link[aria-expanded="true"],
#menu-21 .dropdown-menu {
  background: #0e0e0e;
}
#menu-21 .nav-dropdown-sm .link:focus,
#menu-21 .nav-dropdown-sm .link:hover,
#menu-21 .nav-dropdown-sm .dropdown-item:focus,
#menu-21 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-21 .navbar,
#menu-21 .nav-dropdown-sm,
#menu-21 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-21 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-21 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-21 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-21 .bg-color.transparent.opened .link:hover,
#menu-21 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-21 .link[aria-expanded="true"],
#menu-21 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-21 .close-icon::before,
#menu-21 .close-icon::after {
  background-color: #ffffff;
}
#menu-21 .btn {
  font-family: 'Oxygen', sans-serif;
}
#tech-msg-box8-0 .mbr-section-title,
#tech-msg-box8-0 p {
  color: #fff;
}
#tech-msg-box8-0 .lead P {
  text-align: center;
  font-size: 18pt;
}
#tech-msg-box8-0 .lead UL {
  color: #efefef;
}
#contacts3-22 H4 {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-22 STRONG {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-22 .btn {
  font-family: 'Open Sans', sans-serif;
}
#footer1-23 P {
  font-family: 'Titillium Web', sans-serif;
}









#menu-24 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-24 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu-24 .navbar-toggler {
  color: #ffffff;
}
#menu-24 .link,
#menu-24 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-24 .link {
  font-size: 0.75rem;
}
#menu-24 .dropdown-item,
#menu-24 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-24 .link:hover,
#menu-24 .dropdown-item:hover,
#menu-24 .link:focus,
#menu-24 .dropdown-item:focus {
  color: #c0a375;
}
#menu-24 .link[aria-expanded="true"],
#menu-24 .dropdown-menu {
  background: #0e0e0e;
}
#menu-24 .nav-dropdown-sm .link:focus,
#menu-24 .nav-dropdown-sm .link:hover,
#menu-24 .nav-dropdown-sm .dropdown-item:focus,
#menu-24 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-24 .navbar,
#menu-24 .nav-dropdown-sm,
#menu-24 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-24 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-24 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-24 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-24 .bg-color.transparent.opened .link:hover,
#menu-24 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-24 .link[aria-expanded="true"],
#menu-24 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-24 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-24 .close-icon::before,
#menu-24 .close-icon::after {
  background-color: #ffffff;
}
#menu-24 .btn {
  font-family: 'Oxygen', sans-serif;
}
#consulting-header1-0 .mbr-section-lead {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 21px;
}
#consulting-header1-0 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
}
#consulting-header1-0 .mbr-section-lead SPAN {
  font-size: 23px;
}
#contacts3-25 H4 {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-25 STRONG {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-25 .btn {
  font-family: 'Open Sans', sans-serif;
}
#footer1-26 P {
  font-family: 'Titillium Web', sans-serif;
}










#menu-27 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-27 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu-27 .navbar-toggler {
  color: #ffffff;
}
#menu-27 .link,
#menu-27 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-27 .link {
  font-size: 0.75rem;
}
#menu-27 .dropdown-item,
#menu-27 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-27 .link:hover,
#menu-27 .dropdown-item:hover,
#menu-27 .link:focus,
#menu-27 .dropdown-item:focus {
  color: #c0a375;
}
#menu-27 .link[aria-expanded="true"],
#menu-27 .dropdown-menu {
  background: #0e0e0e;
}
#menu-27 .nav-dropdown-sm .link:focus,
#menu-27 .nav-dropdown-sm .link:hover,
#menu-27 .nav-dropdown-sm .dropdown-item:focus,
#menu-27 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-27 .navbar,
#menu-27 .nav-dropdown-sm,
#menu-27 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-27 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-27 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-27 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-27 .bg-color.transparent.opened .link:hover,
#menu-27 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-27 .link[aria-expanded="true"],
#menu-27 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-27.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-27 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-27 .close-icon::before,
#menu-27 .close-icon::after {
  background-color: #ffffff;
}
#menu-27 .btn {
  font-family: 'Oxygen', sans-serif;
}
#form1-35 SMALL {
  font-family: 'Roboto', sans-serif;
  color: #efefef;
}
#form1-35 .mbr-section-title {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#form1-35 .btn {
  font-family: 'Open Sans', sans-serif;
}
#form1-35 .form-control-label {
  color: #FFFFFF;
}
#contacts3-28 H4 {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-28 STRONG {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-28 .btn {
  font-family: 'Open Sans', sans-serif;
}
#footer1-29 P {
  font-family: 'Titillium Web', sans-serif;
}










#menu-30 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-30 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu-30 .navbar-toggler {
  color: #ffffff;
}
#menu-30 .link,
#menu-30 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-30 .link {
  font-size: 0.75rem;
}
#menu-30 .dropdown-item,
#menu-30 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-30 .link:hover,
#menu-30 .dropdown-item:hover,
#menu-30 .link:focus,
#menu-30 .dropdown-item:focus {
  color: #c0a375;
}
#menu-30 .link[aria-expanded="true"],
#menu-30 .dropdown-menu {
  background: #0e0e0e;
}
#menu-30 .nav-dropdown-sm .link:focus,
#menu-30 .nav-dropdown-sm .link:hover,
#menu-30 .nav-dropdown-sm .dropdown-item:focus,
#menu-30 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-30 .navbar,
#menu-30 .nav-dropdown-sm,
#menu-30 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-30 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-30 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-30 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-30 .bg-color.transparent.opened .link:hover,
#menu-30 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-30 .link[aria-expanded="true"],
#menu-30 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-30.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-30 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-30 .close-icon::before,
#menu-30 .close-icon::after {
  background-color: #ffffff;
}
#menu-30 .btn {
  font-family: 'Oxygen', sans-serif;
}
#msg-box6-58 .mbr-section-title,
#msg-box6-58 .lead p {
  color: #fff;
}
#msg-box6-58 P {
  font-size: 24px;
}
#msg-box6-58 H3 {
  font-family: 'Open Sans', sans-serif;
}
#msg-box8-61 .mbr-section-title,
#msg-box8-61 p {
  color: #fff;
}
#msg-box8-61 .lead P {
  font-size: 18px;
}
#features1-63 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-63 P {
  color: #ffffff;
}
#features1-63 H4 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#features1-63 .btn {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-31 H4 {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-31 STRONG {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-31 .btn {
  font-family: 'Open Sans', sans-serif;
}
#footer1-32 P {
  font-family: 'Titillium Web', sans-serif;
}













#menu-65 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-65 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu-65 .navbar-toggler {
  color: #ffffff;
}
#menu-65 .link,
#menu-65 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-65 .link {
  font-size: 0.75rem;
}
#menu-65 .dropdown-item,
#menu-65 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-65 .link:hover,
#menu-65 .dropdown-item:hover,
#menu-65 .link:focus,
#menu-65 .dropdown-item:focus {
  color: #c0a375;
}
#menu-65 .link[aria-expanded="true"],
#menu-65 .dropdown-menu {
  background: #0e0e0e;
}
#menu-65 .nav-dropdown-sm .link:focus,
#menu-65 .nav-dropdown-sm .link:hover,
#menu-65 .nav-dropdown-sm .dropdown-item:focus,
#menu-65 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-65 .navbar,
#menu-65 .nav-dropdown-sm,
#menu-65 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-65 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-65 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-65 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-65 .bg-color.transparent.opened .link:hover,
#menu-65 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-65 .link[aria-expanded="true"],
#menu-65 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-65.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-65 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-65 .close-icon::before,
#menu-65 .close-icon::after {
  background-color: #ffffff;
}
#menu-65 .btn {
  font-family: 'Oxygen', sans-serif;
}
#msg-box6-66 .mbr-section-title,
#msg-box6-66 .lead p {
  color: #fff;
}
#msg-box6-66 P {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}
#msg-box6-66 H3 {
  font-family: 'Roboto', sans-serif;
}
#msg-box8-67 .mbr-section-title,
#msg-box8-67 p {
  color: #fff;
}
#msg-box8-67 .lead P {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
#features1-68 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-68 P {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#features1-68 H4 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#features1-68 .btn {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-70 H4 {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-70 STRONG {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-70 .btn {
  font-family: 'Open Sans', sans-serif;
}
#footer1-71 P {
  font-family: 'Titillium Web', sans-serif;
}







#msg-box8-77 .mbr-section-title,
#msg-box8-77 p {
  color: #fff;
}
#msg-box8-77 .lead {
  color: #ffffff;
}
#menu-73 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-73 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu-73 .navbar-toggler {
  color: #ffffff;
}
#menu-73 .link,
#menu-73 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-73 .link {
  font-size: 0.75rem;
}
#menu-73 .dropdown-item,
#menu-73 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-73 .link:hover,
#menu-73 .dropdown-item:hover,
#menu-73 .link:focus,
#menu-73 .dropdown-item:focus {
  color: #c0a375;
}
#menu-73 .link[aria-expanded="true"],
#menu-73 .dropdown-menu {
  background: #0e0e0e;
}
#menu-73 .nav-dropdown-sm .link:focus,
#menu-73 .nav-dropdown-sm .link:hover,
#menu-73 .nav-dropdown-sm .dropdown-item:focus,
#menu-73 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-73 .navbar,
#menu-73 .nav-dropdown-sm,
#menu-73 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-73 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-73 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-73 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-73 .bg-color.transparent.opened .link:hover,
#menu-73 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-73 .link[aria-expanded="true"],
#menu-73 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-73.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-73 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-73 .close-icon::before,
#menu-73 .close-icon::after {
  background-color: #ffffff;
}
#menu-73 .btn {
  font-family: 'Oxygen', sans-serif;
}
#contacts3-74 H4 {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-74 STRONG {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-74 .btn {
  font-family: 'Open Sans', sans-serif;
}
#footer1-75 P {
  font-family: 'Titillium Web', sans-serif;
}










#page11-menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#page11-menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#page11-menu-0 .navbar-toggler {
  color: #ffffff;
}
#page11-menu-0 .link,
#page11-menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#page11-menu-0 .link {
  font-size: 0.75rem;
}
#page11-menu-0 .dropdown-item,
#page11-menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#page11-menu-0 .link:hover,
#page11-menu-0 .dropdown-item:hover,
#page11-menu-0 .link:focus,
#page11-menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#page11-menu-0 .link[aria-expanded="true"],
#page11-menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#page11-menu-0 .nav-dropdown-sm .link:focus,
#page11-menu-0 .nav-dropdown-sm .link:hover,
#page11-menu-0 .nav-dropdown-sm .dropdown-item:focus,
#page11-menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#page11-menu-0 .navbar,
#page11-menu-0 .nav-dropdown-sm,
#page11-menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#page11-menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#page11-menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#page11-menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#page11-menu-0 .bg-color.transparent.opened .link:hover,
#page11-menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#page11-menu-0 .link[aria-expanded="true"],
#page11-menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#page11-menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#page11-menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#page11-menu-0 .close-icon::before,
#page11-menu-0 .close-icon::after {
  background-color: #ffffff;
}
#page11-menu-0 .btn {
  font-family: 'Oxygen', sans-serif;
}
#page11-msg-box8-0 .mbr-section-title,
#page11-msg-box8-0 p {
  color: #fff;
}
#page11-msg-box8-0 .lead P {
  text-align: right;
  font-family: 'Roboto', sans-serif;
}
#page11-msg-box8-0 .lead UL {
  color: #efefef;
  font-family: 'Open Sans', sans-serif;
}
#page11-msg-box8-0 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#page11-contacts3-0 H4 {
  font-family: 'Open Sans', sans-serif;
}
#page11-contacts3-0 STRONG {
  font-family: 'Open Sans', sans-serif;
}
#page11-contacts3-0 .btn {
  font-family: 'Open Sans', sans-serif;
}
#page11-footer1-0 P {
  font-family: 'Titillium Web', sans-serif;
}







#header3-7 .mbr-section-title,
#header3-7 .mbr-section-subtitle {
  text-align: center;
}
#header3-7 H3 {
  color: #ffffff;
}
#header2-e H3 {
  color: #ffffff;
}
#menu-9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-9 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu-9 .navbar-toggler {
  color: #ffffff;
}
#menu-9 .link,
#menu-9 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-9 .link {
  font-size: 0.75rem;
}
#menu-9 .dropdown-item,
#menu-9 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-9 .link:hover,
#menu-9 .dropdown-item:hover,
#menu-9 .link:focus,
#menu-9 .dropdown-item:focus {
  color: #c0a375;
}
#menu-9 .link[aria-expanded="true"],
#menu-9 .dropdown-menu {
  background: #0e0e0e;
}
#menu-9 .nav-dropdown-sm .link:focus,
#menu-9 .nav-dropdown-sm .link:hover,
#menu-9 .nav-dropdown-sm .dropdown-item:focus,
#menu-9 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-9 .navbar,
#menu-9 .nav-dropdown-sm,
#menu-9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-9 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-9 .bg-color.transparent.opened .link:hover,
#menu-9 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-9 .link[aria-expanded="true"],
#menu-9 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-9 .close-icon::before,
#menu-9 .close-icon::after {
  background-color: #ffffff;
}
#menu-9 .btn {
  font-family: 'Oxygen', sans-serif;
}
#contacts3-c H4 {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-c STRONG {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-c .btn {
  font-family: 'Open Sans', sans-serif;
}
#footer1-d P {
  font-family: 'Titillium Web', sans-serif;
}







#header3-f .mbr-section-title,
#header3-f .mbr-section-subtitle {
  text-align: center;
}
#header3-f H3 {
  color: #ffffff;
}
#menu-h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-h .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu-h .navbar-toggler {
  color: #ffffff;
}
#menu-h .link,
#menu-h .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-h .link {
  font-size: 0.75rem;
}
#menu-h .dropdown-item,
#menu-h .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-h .link:hover,
#menu-h .dropdown-item:hover,
#menu-h .link:focus,
#menu-h .dropdown-item:focus {
  color: #c0a375;
}
#menu-h .link[aria-expanded="true"],
#menu-h .dropdown-menu {
  background: #0e0e0e;
}
#menu-h .nav-dropdown-sm .link:focus,
#menu-h .nav-dropdown-sm .link:hover,
#menu-h .nav-dropdown-sm .dropdown-item:focus,
#menu-h .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-h .navbar,
#menu-h .nav-dropdown-sm,
#menu-h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-h .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-h .bg-color.transparent.opened .link:hover,
#menu-h .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-h .link[aria-expanded="true"],
#menu-h .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-h .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-h .close-icon::before,
#menu-h .close-icon::after {
  background-color: #ffffff;
}
#menu-h .btn {
  font-family: 'Oxygen', sans-serif;
}
#contacts3-k H4 {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-k STRONG {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-k .btn {
  font-family: 'Open Sans', sans-serif;
}
#footer1-l P {
  font-family: 'Titillium Web', sans-serif;
}







#header3-1 .mbr-section-title,
#header3-1 .mbr-section-subtitle {
  text-align: center;
}
#header3-1 H3 {
  color: #ffffff;
}
#header3-f .mbr-section-title,
#header3-f .mbr-section-subtitle {
  text-align: center;
}
#menu-3 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu-3 .navbar-toggler {
  color: #ffffff;
}
#menu-3 .link,
#menu-3 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-3 .link {
  font-size: 0.75rem;
}
#menu-3 .dropdown-item,
#menu-3 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-3 .link:hover,
#menu-3 .dropdown-item:hover,
#menu-3 .link:focus,
#menu-3 .dropdown-item:focus {
  color: #c0a375;
}
#menu-3 .link[aria-expanded="true"],
#menu-3 .dropdown-menu {
  background: #0e0e0e;
}
#menu-3 .nav-dropdown-sm .link:focus,
#menu-3 .nav-dropdown-sm .link:hover,
#menu-3 .nav-dropdown-sm .dropdown-item:focus,
#menu-3 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-3 .navbar,
#menu-3 .nav-dropdown-sm,
#menu-3 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-3 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3 .bg-color.transparent.opened .link:hover,
#menu-3 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3 .link[aria-expanded="true"],
#menu-3 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3 .close-icon::before,
#menu-3 .close-icon::after {
  background-color: #ffffff;
}
#menu-3 .btn {
  font-family: 'Oxygen', sans-serif;
}
#contacts3-5 H4 {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-5 STRONG {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-5 .btn {
  font-family: 'Open Sans', sans-serif;
}
#footer1-6 P {
  font-family: 'Titillium Web', sans-serif;
}







#header3-7 .mbr-section-title,
#header3-7 .mbr-section-subtitle {
  text-align: center;
}
#header3-7 H3 {
  color: #ffffff;
}
#header3-d .mbr-section-title,
#header3-d .mbr-section-subtitle {
  text-align: center;
}
#menu-9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-9 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu-9 .navbar-toggler {
  color: #ffffff;
}
#menu-9 .link,
#menu-9 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-9 .link {
  font-size: 0.75rem;
}
#menu-9 .dropdown-item,
#menu-9 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-9 .link:hover,
#menu-9 .dropdown-item:hover,
#menu-9 .link:focus,
#menu-9 .dropdown-item:focus {
  color: #c0a375;
}
#menu-9 .link[aria-expanded="true"],
#menu-9 .dropdown-menu {
  background: #0e0e0e;
}
#menu-9 .nav-dropdown-sm .link:focus,
#menu-9 .nav-dropdown-sm .link:hover,
#menu-9 .nav-dropdown-sm .dropdown-item:focus,
#menu-9 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-9 .navbar,
#menu-9 .nav-dropdown-sm,
#menu-9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-9 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-9 .bg-color.transparent.opened .link:hover,
#menu-9 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-9 .link[aria-expanded="true"],
#menu-9 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-9 .close-icon::before,
#menu-9 .close-icon::after {
  background-color: #ffffff;
}
#menu-9 .btn {
  font-family: 'Oxygen', sans-serif;
}
#contacts3-b H4 {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-b STRONG {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-b .btn {
  font-family: 'Open Sans', sans-serif;
}
#footer1-c P {
  font-family: 'Titillium Web', sans-serif;
}








#msg-box5-l H3 {
  font-size: 46px;
}
#msg-box5-l P {
  font-size: 19px;
}
#msg-box5-o P {
  font-size: 19px;
}
#msg-box5-q P {
  font-size: 19px;
}
#menu-g .hide-buttons .nav-btn {
  display: none !important;
}
#menu-g .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu-g .navbar-toggler {
  color: #ffffff;
}
#menu-g .link,
#menu-g .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-g .link {
  font-size: 0.75rem;
}
#menu-g .dropdown-item,
#menu-g .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-g .link:hover,
#menu-g .dropdown-item:hover,
#menu-g .link:focus,
#menu-g .dropdown-item:focus {
  color: #c0a375;
}
#menu-g .link[aria-expanded="true"],
#menu-g .dropdown-menu {
  background: #0e0e0e;
}
#menu-g .nav-dropdown-sm .link:focus,
#menu-g .nav-dropdown-sm .link:hover,
#menu-g .nav-dropdown-sm .dropdown-item:focus,
#menu-g .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-g .navbar,
#menu-g .nav-dropdown-sm,
#menu-g .nav-dropdown-sm .link[aria-expanded="true"],
#menu-g .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-g .bg-color.transparent.opened .link:hover,
#menu-g .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-g .link[aria-expanded="true"],
#menu-g .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-g .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-g .close-icon::before,
#menu-g .close-icon::after {
  background-color: #ffffff;
}
#menu-g .btn {
  font-family: 'Oxygen', sans-serif;
}
#features4-m .card-subtitle {
  color: #bcbcbc;
}
#features4-m .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#msg-box5-r B {
  text-align: left;
}
#msg-box2-f .mbr-section-title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box2-f .mbr-section-subtitle {
  color: #a0a0a0;
  text-align: center;
}
#msg-box2-f .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-f .mbr-article {
  color: #252525;
}
#contacts3-h H4 {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-h STRONG {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-h .btn {
  font-family: 'Open Sans', sans-serif;
}
#footer1-i P {
  font-family: 'Titillium Web', sans-serif;
}








#msg-box5-s H3 {
  font-size: 46px;
}
#msg-box5-s P {
  font-size: 19px;
}
#msg-box5-t P {
  font-size: 19px;
}
#msg-box5-u P {
  font-size: 19px;
}
#menu-v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-v .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#menu-v .navbar-toggler {
  color: #ffffff;
}
#menu-v .link,
#menu-v .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-v .link {
  font-size: 0.75rem;
}
#menu-v .dropdown-item,
#menu-v .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-v .link:hover,
#menu-v .dropdown-item:hover,
#menu-v .link:focus,
#menu-v .dropdown-item:focus {
  color: #c0a375;
}
#menu-v .link[aria-expanded="true"],
#menu-v .dropdown-menu {
  background: #0e0e0e;
}
#menu-v .nav-dropdown-sm .link:focus,
#menu-v .nav-dropdown-sm .link:hover,
#menu-v .nav-dropdown-sm .dropdown-item:focus,
#menu-v .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-v .navbar,
#menu-v .nav-dropdown-sm,
#menu-v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-v .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-v .bg-color.transparent.opened .link:hover,
#menu-v .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-v .link[aria-expanded="true"],
#menu-v .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-v.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-v .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-v .close-icon::before,
#menu-v .close-icon::after {
  background-color: #ffffff;
}
#menu-v .btn {
  font-family: 'Oxygen', sans-serif;
}
#features4-w .card-subtitle {
  color: #bcbcbc;
}
#features4-w .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#msg-box5-x B {
  text-align: left;
}
#msg-box2-y .mbr-section-title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box2-y .mbr-section-subtitle {
  color: #a0a0a0;
  text-align: center;
}
#msg-box2-y .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-y .mbr-article {
  color: #252525;
}
#contacts3-z H4 {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-z STRONG {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-z .btn {
  font-family: 'Open Sans', sans-serif;
}
#footer1-10 P {
  font-family: 'Titillium Web', sans-serif;
}
