@import url(https://fonts.googleapis.com/css?family=Cormorant+Upright:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i);





body {
  font-family: Josefin Sans;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Cormorant Upright', serif;
  font-size: 5.1rem;
}
.display-1 > .mbr-iconfont {
  font-size: 8.16rem;
}
.display-2 {
  font-family: 'Cormorant Upright', serif;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.2rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-5 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.84rem;
}
.display-7 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.3rem;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.08rem;
    font-size: calc( 2.4349999999999996rem + (5.1 - 2.4349999999999996) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.4349999999999996rem + (5.1 - 2.4349999999999996) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.92rem;
    font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-sm {
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #ffbc00 !important;
}
.bg-success {
  background-color: #229ec1 !important;
}
.bg-info {
  background-color: #ffbc00 !important;
}
.bg-warning {
  background-color: #ffbc00 !important;
}
.bg-danger {
  background-color: #ffbc00 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #229ec1 !important;
  border-color: #229ec1 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #176980 !important;
  border-color: #176980 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #176980 !important;
  border-color: #176980 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #997100;
  color: #997100;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #ffbc00;
  border-color: #ffbc00;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #997100;
  color: #997100;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #ffbc00;
  border-color: #ffbc00;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #997100;
  color: #997100;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #ffbc00;
  border-color: #ffbc00;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #13576a;
  color: #13576a;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #229ec1;
  border-color: #229ec1;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #229ec1 !important;
  border-color: #229ec1 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #997100;
  color: #997100;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #ffbc00;
  border-color: #ffbc00;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #997100;
  color: #997100;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #ffbc00;
  border-color: #ffbc00;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ffbc00 !important;
}
.text-secondary {
  color: #ffbc00 !important;
}
.text-success {
  color: #229ec1 !important;
}
.text-info {
  color: #ffbc00 !important;
}
.text-warning {
  color: #ffbc00 !important;
}
.text-danger {
  color: #ffbc00 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #997100 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #997100 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #13576a !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #997100 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #997100 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #997100 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #229ec1;
}
.alert-info {
  background-color: #ffbc00;
}
.alert-warning {
  background-color: #ffbc00;
}
.alert-danger {
  background-color: #ffbc00;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffbc00;
  border-color: #ffbc00;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #ffbc00;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fff2cc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #7bd0e8;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fff2cc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fff2cc;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fff2cc;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a {
  border: 2px solid #ffbc00;
  background: transparent;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #ffbc00;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #ffbc00;
  border-right: 2px solid #ffbc00;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow {
  background-color: transparent;
  opacity: .7;
  transition: .3s;
  text-align: center;
  width: auto;
}
.mbr-arrow:hover {
  opacity: 1;
}
.mbr-arrow a {
  display: block;
}
.mbr-arrow a i {
  color: #ffbc00;
  top: auto !important;
  left: auto !important;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #ffbc00;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  -webkit-justify-content: center;
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #ffbc00;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #ffbc00;
}
.btn-social + .btn {
  margin-left: .1rem;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffbc00;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: contrast(currentColor, #000000, #ffffff, 30%);
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #ffbc00;
}
.cid-rjLBO4suCt .nav-item:focus,
.cid-rjLBO4suCt .nav-link:focus {
  outline: none;
}
.cid-rjLBO4suCt .nav-dropdown .dropdown-menu {
  padding-top: 0;
}
.cid-rjLBO4suCt .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rjLBO4suCt .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rjLBO4suCt .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rjLBO4suCt .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rjLBO4suCt .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0em 0em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rjLBO4suCt .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #321d07;
}
.cid-rjLBO4suCt .navbar.opened {
  transition: all .3s;
  background: #321d07 !important;
}
.cid-rjLBO4suCt .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rjLBO4suCt .navbar .navbar-collapse {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
  padding-top: 3rem;
  padding-bottom: 3rem;
  z-index: 1;
}
.cid-rjLBO4suCt .navbar .navbar-collapse.show,
.cid-rjLBO4suCt .navbar .navbar-collapse.collapsing {
  display: -webkit-flex;
}
.cid-rjLBO4suCt .navbar .navbar-collapse .img-column img {
  width: 100%;
}
.cid-rjLBO4suCt .navbar .navbar-collapse .contact-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cid-rjLBO4suCt .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rjLBO4suCt .navbar.collapsed .dropdown-menu {
  text-align: inherit;
  background: transparent !important;
}
.cid-rjLBO4suCt .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rjLBO4suCt .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rjLBO4suCt .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rjLBO4suCt .navbar.collapsed ul.navbar-nav {
  word-break: break-word;
}
.cid-rjLBO4suCt .navbar.collapsed .dropdown-menu .dropdown-item {
  text-align: inherit;
}
.cid-rjLBO4suCt .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-rjLBO4suCt .navbar.navbar-short {
  background: #321d07 !important;
  min-height: 60px;
}
.cid-rjLBO4suCt .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rjLBO4suCt .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rjLBO4suCt .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rjLBO4suCt .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rjLBO4suCt .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rjLBO4suCt .dropdown-item.active,
.cid-rjLBO4suCt .dropdown-item:active {
  background-color: transparent;
}
.cid-rjLBO4suCt .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rjLBO4suCt .nav-dropdown .link {
  margin: .2em 0em;
}
.cid-rjLBO4suCt .nav-dropdown .link.dropdown-toggle {
  margin: 0;
}
.cid-rjLBO4suCt .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin: 0em 0em;
  padding: 0.2em 0em;
}
.cid-rjLBO4suCt .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #321d07;
}
.cid-rjLBO4suCt .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rjLBO4suCt .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rjLBO4suCt ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rjLBO4suCt .navbar-buttons {
  text-align: inherit;
}
.cid-rjLBO4suCt button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rjLBO4suCt button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rjLBO4suCt button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rjLBO4suCt button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rjLBO4suCt button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rjLBO4suCt button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rjLBO4suCt nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rjLBO4suCt nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rjLBO4suCt nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rjLBO4suCt nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rjLBO4suCt .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rjLBO4suCt .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rjLBO4suCt .icons-menu {
  text-align: inherit;
}
.cid-rjLBO4suCt .icons-menu span {
  font-size: 20px;
  color: #232323;
}
.cid-rjLBO4suCt .nav-link:hover,
.cid-rjLBO4suCt .dropdown-item:hover,
.cid-rjLBO4suCt .icons-menu .mbr-iconfont:hover {
  color: #cccccc !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rjLBO4suCt .navbar {
    height: 77px;
  }
  .cid-rjLBO4suCt .navbar.opened {
    height: auto;
  }
}
@media (max-width: 767px) {
  .cid-rjLBO4suCt .navbar-collapse .img-column {
    display: none;
  }
  .cid-rjLBO4suCt .icons-menu,
  .cid-rjLBO4suCt .navbar-buttons,
  .cid-rjLBO4suCt .contact-block,
  .cid-rjLBO4suCt .text-column {
    text-align: center !important;
  }
}
.cid-rjLBO4suCt .icons-menu,
.cid-rjLBO4suCt .navbar-buttons,
.cid-rjLBO4suCt .contact-block,
.cid-rjLBO4suCt .text-column LI {
  color: #ffffff;
}
.cid-rjLBT0ihOH {
  background-image: url("../../../assets/images/mbr-1920x1441.jpg");
}
.cid-rjLBT0ihOH .mbr-overlay {
  background: #321d07;
}
.cid-rjLBT0ihOH .mbr-section-title {
  letter-spacing: .5rem;
  color: #229ec1;
}
.cid-rjLBT0ihOH .mbr-section-subtitle B {
  color: #ffbc00;
}
.cid-rjLBT0ihOH .mbr-text,
.cid-rjLBT0ihOH .mbr-section-btn {
  color: #ffbc00;
}
.cid-rjLBT0ihOH .mbr-section-subtitle {
  color: #229ec1;
}
.cid-rjLBT0ihOH .mbr-text,
.cid-rjLBT0ihOH .mbr-section-btn I {
  color: #ffbc00;
}
.cid-rjLBT0ihOH .mbr-section-subtitle I {
  color: #ffbc00;
}
.cid-rjLJ999G5v {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/mbr-1920x1288.jpg");
}
.cid-rjLJ999G5v .menu-item {
  padding: 0 1rem 1rem 1rem;
}
.cid-rjLJ999G5v .menu-item .special-label {
  display: none;
}
.cid-rjLJ999G5v .menu-item.special-item {
  padding-bottom: 0;
  margin-bottom: 1rem;
  border: 2px solid #229ec1;
}
.cid-rjLJ999G5v .menu-item.special-item .special-label {
  display: block;
  width: 100%;
  word-break: break-word;
}
.cid-rjLJ999G5v .menu-item.special-item .special-label .label-text {
  max-width: 100%;
  background: #229ec1;
  padding: .5rem 1rem;
  display: inline-block;
}
.cid-rjLJ999G5v .special-label {
  color: #fff;
}
.cid-rjLJ999G5v .menu-box {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cid-rjLJ999G5v .menu-box .box-text {
  word-break: break-word;
  padding-right: 2rem;
  width: 100%;
}
.cid-rjLJ999G5v .menu-box .box-price {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rjLJ999G5v .menu-row .menu-item:last-child {
  margin-bottom: 2rem;
}
.cid-rjLJ999G5v .menu-row {
  margin: 0;
}
.cid-rjLJ999G5v .group-title {
  color: #ffffff;
  font-weight: bold;
}
.cid-rjLJ999G5v .mbr-section-title,
.cid-rjLJ999G5v .ornament {
  color: #ffbc00;
}
.cid-rjLJ999G5v .item-title {
  color: #ffcd40;
}
.cid-rjLJ999G5v .box-text {
  color: #ffffff;
}
.cid-rjLJ999G5v SPAN {
  color: #ffbc00;
}
.cid-rjLJdsXvas {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-2-1920x1280.jpg");
}
.cid-rjLJdsXvas .row {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.cid-rjLJdsXvas .content-panel {
  padding: 3rem;
  background-color: #ffbc00;
}
@media (min-width: 767px) {
  .cid-rjLJdsXvas .text-block {
    padding-right: 0;
  }
}
.cid-rjLJdsXvas .google-map {
  width: 100%;
  height: 30rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-rjLJdsXvas .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-rjLJdsXvas .google-map iframe .place-card {
  margin-left: 40px !important;
}
.cid-rjLJdsXvas .google-map .place-card {
  margin-left: 40px !important;
}
.cid-rjLJdsXvas .mbr-section-title {
  color: #229ec1;
}
.cid-rjLJdsXvas .mbr-section-subtitle {
  color: #000000;
}
.cid-rjLJdsXvas .adress-block {
  color: #000000;
}
.cid-rjLJfToEEe {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/mbr-3-1920x1280.jpg");
}
.cid-rjLJfToEEe *:focus {
  outline: none;
}
.cid-rjLJfToEEe .input-wrap {
  padding-bottom: 1rem;
}
.cid-rjLJfToEEe input,
.cid-rjLJfToEEe textarea {
  width: 100%;
  background: #ffffff;
  border-radius: 0;
  border: none;
}
.cid-rjLJfToEEe input {
  padding: .5rem;
}
.cid-rjLJfToEEe ::-webkit-input-placeholder {
  color: #000000;
}
.cid-rjLJfToEEe ::-moz-placeholder {
  color: #000000;
}
.cid-rjLJfToEEe :-ms-input-placeholder {
  color: #000000;
}
.cid-rjLJfToEEe :-moz-placeholder {
  color: #000000;
}
.cid-rjLJfToEEe .soc-item {
  display: inline-block;
  margin: 0 .1rem .2rem .1rem;
  padding: 10px 11px 0 11px;
  border: 2px solid #f9e2af;
  border-radius: 50%;
}
.cid-rjLJfToEEe .soc-item:hover {
  opacity: .5;
}
.cid-rjLJfToEEe .soc-item .socicon {
  font-size: 1.5rem;
  color: #f9e2af;
}
.cid-rjLJfToEEe .days-column,
.cid-rjLJfToEEe .hours-column {
  display: inline-block;
}
.cid-rjLJfToEEe .days-column span,
.cid-rjLJfToEEe .hours-column span {
  display: block;
}
.cid-rjLJfToEEe .input-group-btn {
  display: block;
}
@media (max-width: 767px) {
  .cid-rjLJfToEEe .days-column {
    padding-right: 0 !important;
  }
  .cid-rjLJfToEEe .hours-column {
    max-width: 50% !important;
  }
  .cid-rjLJfToEEe .opening-hours {
    padding-bottom: 48px !important;
  }
}
