@font-face {
   font-family: 'Comfortaa';
   font-style: normal;
   font-weight: 300;
   src: url('file:///E:/ROB/Websites/Miriadesolutionsinc//fonts/Comfortaa/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Comfortaa';
   font-style: normal;
   font-weight: 500;
   src: url('file:///E:/ROB/Websites/Miriadesolutionsinc//fonts/Comfortaa/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Comfortaa';
   font-style: normal;
   font-weight: 600;
   src: url('file:///E:/ROB/Websites/Miriadesolutionsinc//fonts/Comfortaa/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Comfortaa';
   font-style: normal;
   font-weight: 700;
   src: url('file:///E:/ROB/Websites/Miriadesolutionsinc//fonts/Comfortaa/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Comfortaa';
   font-style: regular;
   font-weight: 400;
   src: url('file:///E:/ROB/Websites/Miriadesolutionsinc//fonts/Comfortaa/regular.ttf') format('truetype');
}
